<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Feedback Page</title>
    <link rel="stylesheet" href="/css/customform.css">
</head>

<body>
    <header>
        <div>
            <div class="nav">
                <div class="subnav">
                    <a href="../../src/views/index.html"><img src="/icons/Poma.svg" alt=""></a>
                    <p class="space">Untitledform</p>
                </div>
                <div class="subnav2">
                    <img class="one" src="/icons/palette.svg" alt="">
                    <img class="two" src="/icons/eye.svg" alt="">
                    <img class="three" src="/icons/backarrow.svg" alt="">
                    <img class="four" src="/icons/forwordarrow.svg" alt="">
                    <button>PUBLISH</button>
                    <img class="five" src="/icons/verticaldots.svg" alt="">
                </div>
            </div>

            <div class="subnav3">
                <div><a class="six" href="/customform">Questions</a></div>
                <div><a class="seven" href="/formresponsepage">Responses</a></div>
                <div><a class="eight" href="#">Settings</a></div>
            </div>
        </div>
    </header>
    <section>
        <div class="medium">
            <div class="empty"></div>
            <div class="details">Untitled form</div>
            <div class="bot">Form Description</div>
        </div>
        <div class="left">
            <div class="aa"><img src="/icons/addition.svg" alt=""></div>
            <div class="bb"><img src="/icons/file.svg" alt=""></div>
            <div class="cc"><img src="/icons/title.svg" alt=""></div>
            <div class="dd"><img src="/icons/image.svg" alt=""></div>
            <div class="ee"><img src="/icons/video.svg" alt=""></div>
            <div class="ff"><img src="/icons/section.svg" alt=""></div>
        </div>

        <div class="bg">
            <div class="subbg">
                <div class="gg"> your question</div>
                <select id="dropdown" name="role" class="form-control" required="" style="font-size: 13px ;">
                    <option disabled="" selected="" value="">Mutiple choice</option>
                    <option value="student">one</option>
                    <option value="job">two</option>
                    <option value="learner">three</option>
                </select>
            </div class="full">
            <div class="color">
                <img class="ft" src="/icons/Ellipse.svg" alt="">
                <a class="color1">Option 1</a>
            </div>
            <div class="color">
                <img src="/icons/Ellipse.svg" alt="">
                <a class="color1">Add option or add others</a>
            </div>
            <hr>
            <div class="final">
                <img class="ab" src="/icons/copy.svg" alt="">
                <img class="bc" src="/icons/trash.svg" alt="">
                <img class="cd" src="/icons/straightline.svg" alt="">
                <a>Required</a>
                <img class="gh" src="/icons/optionbutton.svg" alt="">
                <img class="ij" src="/icons/verticaldots.svg" alt="">
            </div>
        </div>
    </section>

</body>

</html>