<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detaileventfeedback.css">
    <title>Detail Event Feddback Form Page</title>
</head>
<body>
    <form action="/api/v1/eventfeedback" method="POST"  class="detaileventfeedback">
        <h2>Event Feedback Form</h2>
    <label for="ads">Thank you for taking time to
        attend our annual exhibition.</label> <br><br>
    <label for="ads">How satisfied are you with
        the event on a scale of 1 to 10?</label><br><br>
    <label for="titleInput"><input type="number" id="titleInput" name="rating" placeholder="Enter your rating number here" required></label>
    <input type="hidden" name="id" value="{{formId}}">
         <textarea name="comment" class="serviceInput" placeholder="Describe your event feedback in detail here" required></textarea> <br>
        <button>Submit your feedback</button>
    </form>
</body>
</html>