<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detailservicefeedback.css">
    <title>Detail Service Feddback Form Page</title>
</head>
<body>
    <section  method="POST">
        
        <p></p>
        <p></p>
        
    </section>
    <form action="/api/v1/servicefeedback" method="POST"  class="detailservicefeedback">
        <h2>Service Feedback Form</h2>
    <label for="ads">Thank you for shopping at poma. We would like to hear about your experience using our service</label>
    <label for="ads">Kindly describe your experience using our service below</label>
    <label for="titleInput"><input type="text" id="titleInput" name="title" placeholder="Enter the title of your feedback"></label>
    <input type="hidden" name="id" value="{{formId}}">
         <textarea name="description" class="serviceInput" placeholder="Describe your feedback in detail here"></textarea> <br>
        <button onclick="myfunc()">Submit your feedback</button>
    </form>

    <script>
        function myfunc() {
            alert('Your feedback received successfuly')
        }
    </script>
</body>
</html>