<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detailProductFeedback.css">
    <title>Detail Product Feedback Page</title>
</head>
<body>
             <h2>Product Feedback Form</h2>
            <form action="/api/v1/productfeedback" id="register-form" method="POST">
                <section class="input-control">
                <label for="nameInput"></label><input id="nameInput" type="text" placeholder="Enter your full name" name="name"><br> 
              </section>
                <section class="input-control">
                <label for="emailInput"></label> <input id="emailInput" type="email" placeholder="Enter your email address" name="email"><br>
              </section>
                <section class="input-control">
                 <input type="hidden" value="{{formId}}" name="id">
              </section>
                <label for="commentInput">
                <textarea name="comment" id="commentInput" cols="130" rows="10"></textarea>
                </label>
                <button type="submit" id="claim" onclick="myfunc()">submit Feedback</button>
                <p id="register-second-text">By clicking the button, you agreeing to our <span id="terms"><strong>Terms and Serivces</strong></span></p>
              </form>

    <script>
        function myfunc() {
            alert('Your feedback received successfuly')
        }
    </script>
</body>
</html>