<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback form template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/feedback.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header>
        <h2><a href="/" class="logo"><img src="/icons/Poma.svg" alt=""></a></h2>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="#">Services</a>
            <a href="/feedback">Templates</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <a href="/login" class="start">Log in</a>
        <a href="/signup" class="click">Register</a>
    </header>
    <section>
        <div class="left">
            <button class="right">Browse feedback templates<i class="fa fa-search"></i></button>
            <p class="till">With Poma feedback form templates, you save time and energy to get customer review at a go. </p>
        </div>
        <div class="back">
            <div>SERVICE FEEDBACK</div>
            <div class="push">EVENT FEEDBACK</div>
            <div class="pull">PRODUCT FEEDBACK</div>
        </div>
        <div class="fit">
            <div class="card" style="width: 24rem; height: 30rem; border-radius: 20px; background-color: #E0CCCC;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 70px; padding-top: 25%; padding-left: 24%; ">POMA</h5>
                    <p class="card-text"
                        style="padding-left: 15%; padding-top: 5%; word-spacing: 5px; font-weight: lighter;">Thank you
                        for shopping at poma <br>
                        we would like to hear about your <b style="padding-left: 26%;">experience</b></p>
                    <a href="#" class="btn btn-primary"
                        style="border-radius: 12px; margin-top: 8%; margin-left: 31%; color: #302F2C; background: #B18080; border: none;">Give
                        Feedback</a>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 30rem; border-radius: 20px; background-color: #9F9D93;">
                <div class="card-body">
                    <p class="card-text" style="color: 
#4F4E4A; padding-top: 8%; word-spacing: 8px; padding-left: 7%; font-size: 16px;">
                        Thank you for taking time to <br> attend our
                        annual exhibition
                    </p>
                    <p class="card-text" style="color: 
#4F4E4A; word-spacing: 8px; padding-top: 10%; padding-left: 7%; font-size: 16px;">
                        How satisfied are you with <br> the event?
                    </p>
                    <p style="padding-left: 25%; padding-top: 6%;">
                        <img src="/icons/stars.svg" alt="">
                        <img src="/icons/stars.svg" alt="">
                        <img src="/icons/stars.svg" alt="">
                        <img src="/icons/stars.svg" alt="">
                        <img src="/icons/stars.svg" alt="">
                    </p>
                    <a href="#" class="btn btn-light"
                        style=" font-style:italic; color: #9F9D93; margin-top: 15%; padding-bottom: 25%; margin-left: 13%; padding-right: 20%;">Leave
                        a comment here</a>
                </div>
            </div>
            <div class="card"
                style="width: 24rem; height: 30rem; border-radius: 20px; background: linear-gradient(180deg, rgba(247, 174, 230, 0.8) 0%, rgba(239, 221, 62, 0.104) 100%);">
                <div class="card-body">
                    <h5 class="card-title"
                        style="color: #9F9D93; border-radius: 8px; font-style: italic; padding-top:5%;font-size: 18px; padding-left: 66%;">
                        LOGO HERE</h5>
                    <a href="#" class="btn btn-primary"
                        style=" margin-top: 10%; border: 1px solid #7D2B2B; background: #FCFBF8;color: #9F9D93; color: #9F9D93;padding-right: 18%;">Name</a>
                    <a href="#" class="btn btn-primary"
                        style=" margin-top: 10%; border: 1px solid #7D2B2B; background: #FCFBF8;color: #9F9D93; border-radius: 8px;padding-right: 37%; margin-left: 8%;">Email</a>
                    <a href="#" class="btn btn-primary"
                        style=" color: #4F4E4A; margin-top:10%; padding-bottom: 18%; padding-left: 3%; padding-right: 30%; font-size: 16px; border: 1px solid #7D2B2B; background: #FCFBF8;color: #9F9D93;border-radius: 8px">Feedback</a>
                    <img src="/icons/arrow.svg" style="padding-top: 10%;" alt="">
                </div>
            </div>
        </div>
        <div class="bottom" style="padding-top: 2%;">
            <a href="/servicefeedback"><button type="button" class="btn btn-primary btn-lg" style=" border: 1px solid #630000; color:#630000; background:#F2E7E1;">Use this template</button></a> 
            <a href="/eventfeedback"><button type="button" class="btn btn-primary btn-lg" style=" border: 1px solid #630000; color:#630000; background:#F2E7E1;">Use this template</button></a> 
            <a href="/productfeedback"><button type="button" class="btn btn-primary btn-lg" style=" border: 1px solid #630000; color:#630000; background:#F2E7E1;">Use this template</button></a> 
        </div>
        <div class="fit" style="padding-top: 5%;">
            <div class="card" style="width: 24rem; height: 30rem; border-radius: 20px; background-color: 
#5498B5;">
                <div class="card-body">
                    <img src="/icons/question.svg" alt="" style="padding-left: 30%; padding-top: 40px;">
                    <p class="card-text"
                        style="padding-left: 20%; padding-top: 15%; word-spacing: 5px; font-weight: lighter;">
                        What is on your mind?
                    </p>
                    <p class="card-text"
                        style="padding-left: 12%; padding-top: 5%; word-spacing: 5px; font-weight: lighter;">
                        You can tell us your honest <br> <b style="padding-left: 10%;">feedback.This form is</b><br><b
                            style="padding-left: 22%;">anonymous</b>
                    </p>
                    <a href="#" class="btn btn-primary"
                        style="border-radius: 12px; padding: 1% 12%; margin-top: 8%; margin-left: 23%; color: white; background: #37474F; border: none;">
                        Click here</a>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 30rem; border-radius: 20px; background-color: #FE777F;">
                <div class="card-body">
                    <p class="card-text" style="color: 
        #4F4E4A; word-spacing: 8px; padding-top: 30%; padding-left: 7%; font-size: 16px;">
                        We would like to improve on <br>
                        you experience with us. Feel <br> <b style="padding-left: 5%; font-weight:400;">free to drop a suggestion.</b> 
                    </p>
                    <a href="#" class="btn btn-light"
                        style=" font-style: italic; font-weight: 400; color: #9F9D93; margin-top: 2%; padding-bottom: 18%; margin-left: 2%; padding-right: 42%;">
                        Write suggestion here
                    </a>
                    <a href="#" class="btn btn-light"
                        style=" color: #37474F; margin-top: 25%; padding-bottom: 3%;padding-left: 45%; padding-right: 42%;">
                        <b>Send</b>
                    </a>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 30rem; border-radius: 20px; background: white;">
                <div class="card-body" style="padding-top: 70%;">
                    <p>0-----------------0-------------------0</p>
                    <div class="diff">
                        <div>Poor</div>
                        <div>Fair</div>
                        <div>Good</div>
                    </div>
                    <a href="#" class="btn btn-primary"
                        style="border-radius: 5px; padding: 1% 15%; margin-top: 20%; margin-left: 26%; color: white; background: #D66F09; border: none;">
                        Submit</a>
                </div>
            </div>
        </div>
        <div class="bottom" style="padding-top: 2%;">
            <button type="button" class="btn btn-primary btn-lg"
                style=" border: 1px solid #630000; color:#630000; background:#F2E7E1;">Use this template</button>
            <button type="button" class="btn btn-primary btn-lg"
                style=" border: 1px solid #630000; color:#630000;background:#F2E7E1; margin-left: 13%;">Use this
                template</button>
            <button type="button" class="btn btn-primary btn-lg"
                style=" border: 1px solid #630000; color:#630000;background:#F2E7E1; margin-left: 15%;">Use this
                template</button>
        </div> 
        <div class="gag">
            <button type="button" class="btn btn-primary btn-lg"
                style=" padding-left: 6%; padding-right: 6%; border: 1px solid #630000; color:#630000; background: white;">See All  Templates</button>
            <a href="/customform" target="_blank"><button type="button" class="btn btn-primary btn-lg"
                style=" padding-right: 6%; padding-left: 6%; color: white; background: #630000; border: none;">Create Custom Forms</button></a>
        </div>
    </section>
    <footer>
        <div class="details">
            <a class="one" href="#">About</a>
            <a class="two" href="#">Resources</a>
            <a class="three" href="https://github.com/zuri-training/Feedback-Repo">Team</a>
            <a class="four" href="#">Contact</a>
            <a class="five" href="#">Terms</a>
        </div>
        <div class="details2">
            <div><img src="/icons/footerinstagram.svg" alt=""></div>
            <div><img src="/icons/footerfacebook.svg" alt=""></div>
            <div class="ment"><img src="/icons/footertwitter.svg" alt=""></div>
            <div><img src="/icons/footermail.svg" alt=""></div>
        </div>
        <div class="details3">
            <div>Copyright 2022</div>
            <div><img src="/icons/copyright.png" alt=""></div>
            <div>Poma Inc.</div>
        </div>
    </footer>
</body>

</html>