<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Poma</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/landing.js" differ></script>
  </head>
  <body>
    <div class="mobile-optons" id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="/feedback">Templates</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

      <div class="acctm">
        <div>
          <a id="loginm" href="/login" target="_blank">Log in</a>
        </div>
        <div>
          <a id="registerm" href="/signup" target="_blank">Registration</a>
        </div>
      </div>

      <div class="close-btn-container">
        <button type="button" id="close-btn" onclick="closeMenu()">
          <img src="/img/./close-icon.png" />
        </button>
      </div>
    </div>

    <nav>
      <div class="logo">
        <a href="#"><img src="/img/./Poma Logo 1.png" /></a>
      </div>

      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

      <div class="acct">
        <a id="login" href="/login">Log in</a>
        <a id="register" href="/signup">Registration</a>
      </div>

      <div id="menu-btn">
        <button type="button" onclick="showMenu()">
          <img src="/img/./menu-rounded-100.png" width="32px" height="32px" />
        </button>
      </div>
    </nav>
    <main>
      <section class="first">
        <div class="first-writeup">
          <h1>Customize your own feedbaack form in no time.</h1>
          <p>
            create feedback forms in a matter of minutes that can be used for
            data collection and analysis. Give your costumers/ clients the
            satisfaction they desire.
          </p>

          <div class="get-started">
            <a href="/signup">GET STARTED</a>
          </div>
        </div>
        <div>
          <img src="/img/./survey_participants_en 1.png" />
        </div>
      </section>

      <section class="second">
        <div class="second-writeup">
          <h1>Get amazing feedback templates from Poma</h1>
          <p>
            Our templates makes it easy for you to get an amazing looking and
            costumizable forms
          </p>

          <div class="second-btn">
            <a href="/feedback">Generate Form</a>
          </div>
        </div>
        <div>
          <img
            src="/img/./feedback-survey-questionnaire-form-test-banner-isometric-character-online-clipboard-research-vector-illustration-176483633-removebg-preview 1.png"
          />
        </div>
      </section>
      <section class="third">
        <div class="third-writeup">
          <h1>Benefits of Poma feedback templates</h1>

          <ul>
            <li>Imporvements in your products and services.</li>
            <li>Increased customer satisfaction.</li>
            <li>Development of team skills.</li>
            <li>Identify dissatisfied customers.</li>
            <li>Download and save favourite templates.</li>
            <li>Create your own customized feedback form</li>
          </ul>
        </div>
        <div>
          <img src="/img/./image 9.png" />
        </div>
      </section>

      <section class="fourth">
        <div class="forth-container">
          <div class="fourth-writeup">
            <h1>Embed feedback forms</h1>
            <p>
              Poma allows you to embed feedback forms in any format you want.
              short codes and links
            </p>
          </div>

          <div>
            <img src="/img/./image 1.png" />
          </div>
        </div>
      </section>

      <section class="fifth">
        <div class="fifth-writeup">
          <h1>Customize your own feedbaack form in no time.</h1>
          <p>
            create feedback forms in a matter of minutes that can be used for
            data collection and analysis. Give your costumers/ clients the
            satisfaction they desire.
          </p>
        </div>
        <div>
          <img src="/img/./17465926_2007.i039 1.png" />
        </div>
      </section>

      <section class="sixth">
        <div>
          <h1>Get in touch</h1>
          <p>
            Love to get in touch? We’d love to hear from you. Here’s how you can
            reach us.
          </p>
        </div>
      </section>

      <section class="seventh">
        <div class="floating-div">
          <div>
            <img src="/img/./call-calling.svg" />
            <p>Talk to an agent</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              tincidunt aliquam nibh malesuada viverra ac risus varius. Habitant
              gravida ut congue nisl et condimentum mauris dui. Egestas non
              fringilla fringilla.
            </p>
          </div>

          <div>
            <img src="/img/./messages-2.png" />
            <p>Contact Customer Support</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              tincidunt aliquam nibh malesuada viverra ac risus varius. Habitant
              gravida ut congue nisl et condimentum mauris dui. Egestas non
              fringilla fringilla.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Resource</a></li>
        <li><a href="https://github.com/zuri-training/Feedback-Repo">Team</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms</a></li>
      </ul>

      <ul class="foot-icons">
        <li>
          <a href="https://www.instagram.com/"><img src="/img/./akar-icons_instagram-fill.png" /></a>
        </li>
        <li>
          <a href="https://www.facebook.com/"><img src="/img/./et_facebook.png" /></a>
        </li>
        <li>
          <a href="https://twitter.com/"><img src="/img/./twitter.png" /></a>
        </li>
        <li>
          <a href="https://outlook.live.com/owa/"><img src="/img/./clarity_email-line.png" /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
