<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - Poma</title>
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="#"><img src="/img/./Poma Logo 1.png" /></a>
      </div>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

      <div class="acct">
        <a id="login" href="/login">Log in</a>
        <a id="register" href="/signup">Registration</a>
      </div>
    </nav>
    <div class="photo">
      <!-- <div>
        <a href="#">Home</a>
      </div> -->
    </div>
    <div class="navigate">
      <div>
        <a href="#">Forms</a>
      </div>
    </div>

    <main>
      <div class="profile-card-container">
        <div class="profile-card">
          <img
            id="profile-picture"
            src="/img/./profile/feedbackprofile.jpeg"
          />

          <div>
            <p id="name">John Doe</p>
            <p id="email">johndoe@gmail.com</p>
          </div>

          <div class="property">
            <img src="/img/./profile/portfolio 1.png" />
            <p id="occupation">Marketer</p>
          </div>
          <div class="property">
            <img src="/img/./profile/marker-02.png" />
            <p id="location">Lagos, Nigeria</p>
          </div>
          <div class="property">
            <img src="/img/./profile/globe-03.png" />
            <p id="web-address">www.johnmarket.com</p>
          </div>

          <div class="property">
            <img src="/img/./profile/calendar-01.png" />
            <p id="joined">April, 2022</p>
          </div>

          <div>
            <button type="button" id="update-btn">Update</button>
          </div>
        </div>
      </div>

      <div class="forms-item-container">
        <div class="form-item">
          <p class="form-title">Form Title</p>
          <p class="form-description">Form Description</p>

          <div class="form-item-options">
            <div class="property">
              <img src="/img/./profile/eye-open.png" />
              <p>(90) Viewed</p>
            </div>
            <div class="property">
              <img width="24px" height="24px" src="/img/./profile/edit-contained.png" />
              <p>(69) Submitted</p>
            </div>
            
          </div>
        </div>
      </div>

      <div class="notifications-container">
        <div class="greeting">
          <p>Hi John!</p>
          <img src="/img/./profile/greeting-illustration.png" />
        </div>
      </div>
    </main>

    <footer>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Resource</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms</a></li>
      </ul>

      <ul class="foot-icons">
        <li>
          <a href="#"><img src="/img/./akar-icons_instagram-fill.png" /></a>
        </li>
        <li>
          <a href="#"><img src="/img/./et_facebook.png" /></a>
        </li>
        <li>
          <a href="#"><img src="/img/./twitter.png" /></a>
        </li>
        <li>
          <a href="#"><img src="/img/./clarity_email-line.png" /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
