<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header>
        <h2><a href="#" class="logo"><img src="/img/Poma.svg" alt=""></a></h2>
        <div class="navigation">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Templates</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <a href="#" class="start">Log in</a>
        <a href="#" class="click">Register</a>
    </header>
    <section>
        <a href="#" class="icon"><img src="/img/arrow.svg" alt=""></a>
        <form action="">
            <div class="container">
                <div class="wrapper">
                    <div class="intro">Sign Up</div>
                    <div class="intro2">Hey, Enter your details to get an account</div>
                    <div class="intro3">with us</div>
                    <p class="intro1">Full Name</p>
                    <div class="name">
                        <input class="intro10" type="email" id="email" name="email" placeholder="John Deo" required>
                        <input class="intro11" type="google" id="google" name="google" placeholder="Sign in with Google"
                            required>
                    </div>
                    <p class="intro1">Email</p>
                    <div class="mail">
                        <input class="intro4" type="email" id="email" name="email" placeholder="johndeo@gmail.com"
                            required>
                        <input class="intro5" type="facebook" id="facebook" name="facebook"
                            placeholder="Sign in with Facebook" required>
                    </div>
                    <p class="intro8">Create Password</p>
                    <div class="pass">
                        <input class="intro6" type="password" id="password" name="password" placeholder="***********"
                            required>
                        <input class="intro7" type="apple" id="apple" name="apple"
                            placeholder="Sign in with Apple Account" required>
                    </div>
                    <p class="intro8">Confirm Password</p>
                    <div class="new">
                        <input class="intro6" type="password" id="password" name="password" placeholder="***********"
                            required>

                        <div class="log">
                            <a class="intro9" href="#">Login</a>
                        </div>
                        <div class="remind">
                            <div class="ready">Already a member?</div>
                            <a class="ret" href="#">Log in</a>
                        </div>
                    </div>

                </div>
        </form>
    </section>
    <footer>
        <div class="details">
            <a class="one" href="#">About</a>
            <a class="two" href="#">Resources</a>
            <a class="three" href="#">Team</a>
            <a class="four" href="#">Contact</a>
            <a class="five" href="#">Terms</a>
        </div>
        <div class="details2">
            <div><img src="img/footerinstagram.svg" alt=""></div>
            <div><img src="img/footerfacebook.svg" alt=""></div>
            <div class="ment"><img src="img/footertwitter.svg" alt=""></div>
            <div><img src="img/footermail.svg" alt=""></div>
        </div>
        <div class="details3">
            <div>Copyright 2022</div>
            <div><img src="img/copyright.png" alt=""></div>
            <div>Poma Inc.</div>
        </div>
    </footer>
</body>

</html>