.iframeContainer {
    position: relative;
    width: 1200px;
    height: 600px;
    overflow: hidden;
 }
 
 .iframeContent {
    position: absolute;
    width: 900px;
    height: 800px;
    top: -50px;
    right: -140px;
 }